<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}
=======
header {
    Background-color: #FF0000;
    width: 100%;
    height: 70px;
}
>>>>>>> c7b7a5d6141379ce7c41e11fa8ba0458e9e141db
