body {
<<<<<<< HEAD
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
=======
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #484848;
}
>>>>>>> c7b7a5d6141379ce7c41e11fa8ba0458e9e141db
